<ion-header>
  <ion-toolbar align-title = "center">
    <ion-buttons size = "small" slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title text-center class = "appb"> Registrati </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-img id = "logo" src = "../../assets/icon/app_logo.png"> </ion-img>

  <form class = "spacing">
    <ion-item >
      <ion-label class = "labels" position="floating">Nome</ion-label>
      <ion-input class = "inputs" type="text" required [(ngModel)] = "name" [ngModelOptions]="{standalone: true}"></ion-input>
    </ion-item>

    <ion-item >
      <ion-label class = "labels" position="floating"> Cognome </ion-label>
      <ion-input class = "inputs" type="text" required [(ngModel)] = "surname" [ngModelOptions]="{standalone: true}"></ion-input>
    </ion-item>

    <ion-item >
      <ion-label class = "labels" position="floating">Email</ion-label>
      <ion-input class = "inputs" type="text" required [(ngModel)] = "username" [ngModelOptions]="{standalone: true}" ></ion-input>
    </ion-item>

    <ion-item >
      <ion-label class = "labels" position="floating">Password</ion-label>
      <ion-input class = "inputs" type="password" required [(ngModel)] = "password" [ngModelOptions]="{standalone: true}" ></ion-input>
    </ion-item>

    <ion-item >
      <ion-label class = "labels" position="floating">Conferma Password</ion-label>
      <ion-input class = "inputs" type="password" required [(ngModel)] = "cpassword" [ngModelOptions]="{standalone: true}" ></ion-input>
    </ion-item>

    <ion-row>
      <ion-col>
        <ion-button type="submit" color="primary" expand="block" (click) = "signup()">Registrati</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>