<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title id = "barra">Registrati</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-img id = "logo" src = "../../assets/icon/app_logo.png"> </ion-img>


  <ion-title id = "inf" position = "floating"> Crea il tuo account </ion-title>

  <form class = "form">
    <ion-item lines="full">
      <ion-label position="floating">Nome</ion-label>
      <ion-input type="text" required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating"> Cognome </ion-label>
      <ion-input type="text" required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="text" required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" required></ion-input>
    </ion-item>

    <ion-row>
      <ion-col>
        <ion-button [routerLink]="['/registered']" type="submit" color="primary" expand="block">Registrati</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>