<ion-header>
	<ion-toolbar>
	  <ion-buttons slot="start">
		<ion-back-button></ion-back-button>
	  </ion-buttons>
	  <ion-title text-center class = "appb">Log In</ion-title>
	</ion-toolbar>
  </ion-header>
  
  <ion-content> 
  
	<ion-img id = "logo" src = "../../assets/icon/app_logo.png"> </ion-img>
  
	<form class = "spacing">
	  <ion-item lines="full">
		<ion-label class = "labels" position="floating">Email</ion-label>
		<ion-input class = "inputs" type="text" required  [(ngModel)] = "username" [ngModelOptions]="{standalone: true}"></ion-input>
	  </ion-item>
  
	  <ion-item lines="full">
		<ion-label class = "labels" position="floating">Password</ion-label>
		<ion-input class = "inputs" type="password" required [(ngModel)] = "password" [ngModelOptions]="{standalone: true}" ></ion-input>
	  </ion-item>
  
	  <ion-row>
		<ion-col>
		  <ion-button class = "lB" type="submit" color="primary" expand="block" (click) = "login()">Accedi</ion-button>
		  <a [routerLink]="['/forgot-password']" class="a">Password dimenticata?</a>
		</ion-col>
	  </ion-row>
	</form>
  </ion-content>