<ion-header class = "ion-no-border">
  <ion-toolbar mode = "ios">
    <ion-buttons slot="start">
      <ion-back-button mode = "md"  icon="arrow-back" color = "primary"> </ion-back-button>
    </ion-buttons>
    <ion-title class = "user-area">Area Prenotazione</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  
  <form [formGroup]="directionForm" (ngSubmit)="calculateAndDisplayRoute(directionForm.value)">
    <ion-item>
      <ion-label position="floating">Destination</ion-label>
      <ion-input formControlName="destination"></ion-input>
    </ion-item>
    <ion-button expand="full" type="submit" [disabled]="!directionForm.valid">Get Direction</ion-button>
  </form>


   <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button color = "primary">
      <ion-icon name="menu-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="start">
      <ion-fab-button  [routerLink]="['/reservations'] "
      ><ion-icon name="qr-code-outline"></ion-icon></ion-fab-button>
    </ion-fab-list>
    <ion-fab-list side="end">
      <ion-fab-button><ion-icon name="person-outline"></ion-icon></ion-fab-button>
    </ion-fab-list>
  </ion-fab>

  <div #map class = "map"> 
    
  </div>

</ion-content>
