<ion-header class = "ion-no-border">
  <ion-toolbar mode = "ios">
    <ion-buttons slot="start">
      <ion-back-button mode = "md"  icon="arrow-back" color = "primary"> </ion-back-button>
    </ion-buttons>
    <ion-title class = "user-area">Area Prenotazione</ion-title>
  </ion-toolbar>
</ion-header>

<div *ngIf = "isActive" id ="cc"> 
  <ion-card id = "cardZ">
    <ion-card-header>
      <ion-button mode = "ios" fill = "clear" id ="close" (click) = "chiudiFinestra()"> 
        <ion-icon name="close"></ion-icon>
      </ion-button>
      <ion-card-title id ="title">Reservation</ion-card-title>
  </ion-card-header>
    <ion-card-content>

      <ion-item>
        <ion-label>Data :</ion-label>
        <ion-datetime monthValues="6,7,8,9" yearValues="2020,2021" dayValues="01,02,03,04,05,06,08,09,10, 11, 12, 13, 14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30" displayFormat="DD/MMM/YYYY" [(ngModel)] = "data" [ngModelOptions]="{standalone: true}"></ion-datetime>
      </ion-item>

      <ion-input  mode = "md"  required  [(ngModel)] = "username" placeholder = "Email" [ngModelOptions]="{standalone: true}"> </ion-input > 
  
      <br>

      <ion-input  mode = "md" type ="password" required  [(ngModel)] = "password" placeholder = "Password" [ngModelOptions]="{standalone: true}"> </ion-input>
  
      <ion-button id = "p" mode = "ios" shape = "round" type="submit" (click) = "reservations()">Prenota</ion-button>

    </ion-card-content>
  </ion-card>
  </div>

<ion-content>

  
  <form [formGroup]="directionForm" (ngSubmit)="calculateAndDisplayRoute(directionForm.value)">
    <ion-item>
      <ion-label position="floating">Destinazione</ion-label>
      <ion-input formControlName="destination"></ion-input>
    </ion-item>
    <ion-button mode = "ios" expand="full" type="submit" [disabled]="!directionForm.valid">Portami quì</ion-button>
  </form>


   <ion-fab vertical="bottom" horizontal="center" slot="fixed" *ngIf = "cardActive">
    <ion-fab-button color = "primary">
      <ion-icon name="menu-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="start">
      <ion-fab-button  [routerLink]="['/reservations'] "
      ><ion-icon name="qr-code-outline"></ion-icon></ion-fab-button>
    </ion-fab-list>
    <ion-fab-list side="end">
      <ion-fab-button><ion-icon name="person-outline"></ion-icon></ion-fab-button>
    </ion-fab-list>
  </ion-fab>

  <div #map class = "map"> 
    
  </div>

</ion-content>
