
 .map{  
        height: 100%;
    }


.user-area {
    color:darkorange;
    font-weight: bold;
    text-align: center;
}


ion-toolbar{
    
    --background : #045C84;
    --border-color : #045C84;

}


#title{

    text-align: center;
}

#p{
    display: flex;
    align-self: center;
}

.close{

    display: block;
    margin-left: 150px;
    height:35px;
    width: 35px;
 
}