
 .map{
        height: 100%;
    }


.user-area {
    color:darkorange;
    font-weight: bold;
    text-align: center;
}


ion-toolbar{
    
    --background : #045C84;
    --border-color : #045C84;

}