<ion-header class = "ion-no-border">
  <ion-toolbar mode = "ios">
    <ion-buttons slot="start">
      <ion-back-button mode = "md"  icon="arrow-back" color = "primary"> </ion-back-button>
    </ion-buttons>
    <ion-title class = "user-area">Area Prenotazione</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>

    <ion-item *ngFor = "let user of (utenti | async)">
      {{user.username}}
    </ion-item>

  </ion-list>


  <div #map class = "map"> 
    
  </div>

</ion-content>
