<ion-header class = "ion-no-border">
	<ion-toolbar >
	  <ion-buttons slot="start">
    <ion-back-button mode = "md" icon="arrow-back" color = "primary">
		</ion-back-button>
	  </ion-buttons>
	</ion-toolbar>
  </ion-header>
  
<ion-content> 

<ion-item> 
  <ion-input type = "text" placeholder = "Dati da codificare" [(ngModel)]="value">
  </ion-input>
</ion-item>

<ion-list>

  <ion-item  *ngFor = "let user of (utenti | async)">
    {{user.username}}
  </ion-item>

</ion-list>

<ngx-qrcode style = "text-align:center"
[elementType]="elementType" 
[value] = "value"
cssClass = "aclass"
errorCorrectionLevel = "L">
</ngx-qrcode>

<ion-button mode = "ios" shape = "round"  style = "margin-top: 250px;" expand = "block" (click)="scanCode()" color= "primary"> 
  Scan
</ion-button>


  
<ion-card *ngIf="scannedCode">
  <ion-card-content>
    Risultati dello scan : {{scannedCode}}
  </ion-card-content> 

</ion-card>

</ion-content>
