<ion-header class = "ion-no-border">
  <ion-toolbar mode = "ios">
    <ion-buttons slot="start">
      <ion-back-button mode = "md"  icon="arrow-back" color = "primary"> </ion-back-button>
    </ion-buttons>
    <ion-title>Area Personale</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class = "info">
    <ion-label id = "nomeUtente" >
      Username : {{username}}
    </ion-label>

    <ion-label id  = "datiExtra">
    Password : {{password}}
    </ion-label>
  </div>

  <ion-button  mode = "ios" id = "bC" shape = "round" expand = "block" (click) = "cancellaAccount()">
    Elimina Account
  </ion-button>

  <ion-button mode = "ios" id = "bL" shape = "round" expand = "block" (click) = "logOut()">
    Logout
  </ion-button>

</ion-content>
