<ion-header class = "ion-no-border">
  <ion-toolbar mode = "ios">
    <ion-buttons slot="start">
      <ion-back-button mode = "md"  icon="arrow-back" color = "primary"> </ion-back-button>
    </ion-buttons>
    <ion-title class = "user-area">Area Personale</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <div class = "info">

    <ion-label >
      {{username}}
    </ion-label>

    <ion-label>
      {{password}}
    </ion-label>

    
    <ion-button (click) = "cancellaAccount()">
      Elimina Account
    </ion-button>

  </div>


</ion-content>
