<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div> 

    <ion-label class = "Titolo">      

      Benvenuto!

      </ion-label>
    
     <ion-label class = "Sottotitolo"> Prenota ora il tuo posto in spiaggia.  </ion-label>  

    <p class= "multi_lines_text">

      Inserisci l'indirizzo email al quale verranno inviate le istruzioni per effettuare il reset della password.

    <p> 

      <ion-input placeholder = "Email" style = "margin-left : 10px !important ; margin-top: 70px !important; font-family : 'SF-Pro-Display-Light','sans serif'; text-align: left; border-radius: 25px;" type="email" required [(ngModel)] = "username" [ngModelOptions]="{standalone: true}" ></ion-input>

    <ion-button shape = "round" type="submit" (click) = "forgot()">Invia</ion-button>

  </div>
 
</ion-content>