<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-wrap" color = "primary" >Reimposta la tua password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item>
    <ion-label class="ion-text-wrap" color = "primary">

      Inserisci l'indirizzo email al quale verranno inviate le istruzioni per effettuare il reset della password.

    </ion-label> 
  </ion-item>

  <form class ="spacing">
    <ion-item lines="full">
      <ion-label  class = "label" position="floating" color = "primary">Email</ion-label>
      <ion-input  class = "inputs" type="email" required [(ngModel)] = "username" [ngModelOptions]="{standalone: true}" ></ion-input>
    </ion-item>

    <ion-row>
      <ion-col>
        <ion-button [routerLink]="['/login']" type="submit" color="primary" expand="block" (click) = "forgot()">Invia</ion-button>
      </ion-col>
    </ion-row>

  </form>

</ion-content>