
<ion-content>

  <ion-label class = "Titolo">      
    Benvenuto!
  </ion-label>

  <ion-label class = "Sottotitolo"> Prenota ora il tuo posto in spiaggia.  </ion-label>

  <div class = "acc">
      
        <ion-label class = "accedi"> Hai già un account ? </ion-label>

        <ion-button mode = "ios" class = "log_B" shape = "round" [routerLink]="['/login']" expand="block" color = "primary" >Accedi</ion-button>

        <ion-label class = "registrati"> Oppure clicca qui per registrarti </ion-label>

        <ion-button mode = "ios" class  = "registration_button" shape = "round"  [routerLink]="['/registration']" expand="block" color = "primary" >Registrati</ion-button>

  </div>

</ion-content>

